{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Complaint Registration</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <header>
      <div class="logo">formplus</div>
      <nav>
      <a href="#">Home</a>
      <a href="{% url 'file_complaint' %}">File complaint</a>
      <a href="#">Track complaint</a>
      <a href="{% url 'my_complaint' %}">Complaint details</a>
      <a href="#">How it works</a>
      <a href="#">Faqs</a>
      <a href="{% url 'contact' %}">Contact</a>
      

        <div class="nav-buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="login">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="login">Log in</a>
                <a href="{% url 'signup' %}" class="signup">Sign up</a>
            {% endif %}
        </div>

    </header>

<section class="intro">
    <h1>Welcome to Complaint Portal</h1>
    <p>
    We provide a simple and transparent way for individuals, employees, and customers to raise complaints online.  
    Submit your issue in just a few steps, track its progress in real-time, and get timely resolutions from the concerned department.  
    </p>
</section>

    
</body>
</html>